# MACHINE LEARNING SYSTEM FOR HEART DISEASE PREDICTION

###  Executed By: 
### Godspower Uyanga
### (Data Scientist/Machine Learning Engineer)</br>

## Tool Used :  Python(Numpy, Pandas, Matplotlib,Seaborn)
##                       Machine Learning(Scikit-Learn)

   <h1 style = "background-color:black;"> <center style = "color:white;"> Abstract </center> </h1>

<b>Doctor Stephen My Client Contacted Me, came with medical status of some of his patient he dianosed, which he claimed some are defected and some are not but he was not really sure and he needed a model that will help him make best decision, so he can know those to treat and those he needs to discharge. Looking at the features and the target he brought as his data, i saw it wise to build a machine Learning System That Will Predict Whether a patient Has Heart Disease Or Not. This Makes Doctor Stephen Super Excited.</b>

<b> Work Flow : </br>
- Collecting Heart Dataset From My Client Hospital
- Preprocessing The Dataset so our Machine Learning Algorithm Can Learn From it
- Will Split The Dataset To Train Data And Test Data
- After Training It I will Feed It with Machine Learning Logistic Regression Model
- Train The Logistic Regression model With New Data to See Its performance
- Prediction: Our Trained Model Will Predict If The Patient Has Heart Defection Or Healthy</b>

## Lets Import All Our Dependencies

In [3]:
import pandas as pd # use for creating DataFrame.
import numpy as np # Used for numpy arrays similar to python list
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split# for spliting our data into train and test
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## <h1 style = "color:blue"> Data Collection and Processing </h1>

In [4]:
# Loading the data to pandas DataFrame
Hospital_Heart_Data = pd.read_csv("heart_disease_data.csv")

In [5]:
# Let's View The First 5 Rows Of Our Dataset
def target_analysis():
    return Hospital_Heart_Data.head()
print("Note: When The Target Is 0 Shows That The Patience Has No Heart Disease \n When Is 1 It Shows the Patient Is Infected")
target_analysis()

Note: When The Target Is 0 Shows That The Patience Has No Heart Disease
 When Is 1 It Shows the Patient Is Infected

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
# Let's Check the Last 5 Rows Of our dataset
def tail():
    return Hospital_Heart_Data.tail()
print(" The Last 5 Rows Of Our Dataset Is Shown Below")
tail()

 The Last 5 Rows Of Our Dataset Is Shown Below

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [7]:
# Let's Check the number Of rows And Columns Of Our Dataset
print(f" The Total Number Of Rows And Column In our Given DataSet Is: {Hospital_Heart_Data.shape} \n Hence It's A Very Small DataSet")

 The Total Number Of Rows And Column In our Given DataSet Is: (303, 14)
 Hence It's A Very Small DataSet

In [8]:
# Getting Some Information about the Data
Hospital_Heart_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [9]:
# Checking for missing values
def func():
    return Hospital_Heart_Data.isnull().sum() 
print("They Is No Missing Value In The Data")
func()

They Is No Missing Value In The Data

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [10]:
# Statistical measures about the data
Hospital_Heart_Data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [11]:
# Checking the distribution of Target Variable
Hospital_Heart_Data["target"].value_counts()

1    165
0    138
Name: target, dtype: int64

<b> 1 --> Defective Heart</b> </br>
<b> 0 --> Healthy Heart </b>

### <center><b style = "color: blue"> SPLITING THE FEATURES AND TARGET </b></center>
<h3 style = "background-color: black;"> <p style = "color : white;">
At This Point Doctor Feels Since The Patient Has This Features, They are Likely To be Infected Or Not,He Is Not Really Sure, Here I Come as A Data Scientist And Machine Learning Engineer, With My Digital Tool I will Help him Make Best Decision, This Will Help Him To Know The Patient To Work On And the one To discharge. Back to our Data. So Lets Split The Doctor's Target From the Features After Building Our Models From This Features We will Use It to Help The Doctor Make Decision</p></h3>

In [12]:
X =  Hospital_Heart_Data.drop(columns = "target", axis = 1) # When droping a column your axis is 1 , when droping a row your axis will be zero
y =   Hospital_Heart_Data["target"]

### <b style = "color : blue;"> Spliting the Data Into Training Data and Test Data </b>

In [15]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.2, stratify =y, random_state = 2 )

In [16]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

### <b style="color:blue;">Let Us Train Our Machine Learning Model</b>

### WE will Use Logistic Regression Model
This is Because it is very useful for binary problems. Dont forget that it can also be use  for classification problems as well

In [17]:
model = LogisticRegression()

In [18]:
# Training the LogisticRegression Model with Training Data
model.fit(X_train, y_train )
# It will find the Relationship Between The feautures and the corresponding Target
# After Training It we can use to get new values

C:\Users\GODSPOWER UYANGA\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## Model Evaluation

### Accuracy Score
This Model Will Be ask to Predict the Target and this predicted value will be back with the original target value

In [19]:
# Accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, y_train)

In [20]:
print("Accuracy On Training Data: ", training_data_accuracy)
if training_data_accuracy > 60/100:
    print("It Is A Good Accuracy Since the Accuracy Is :", training_data_accuracy)

Accuracy On Training Data:  0.8512396694214877
It Is A Good Accuracy Since the Accuracy Is : 0.8512396694214877

In [21]:
# Accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, y_test)

In [22]:
print("Accuracy On Test Data: ", test_data_accuracy)
if test_data_accuracy > 60/100:
    print("It Is A Good Accuracy Since the Accuracy Is :", test_data_accuracy)

Accuracy On Test Data:  0.819672131147541
It Is A Good Accuracy Since the Accuracy Is : 0.819672131147541

<b> Since Our Test Model And Train Model Has A Close Accuracy, It Is A Good Accuracy </b>

## Building A Machine Learning Predictive System From Our Train And Test Model

In [36]:
input_data =(63,1,3,145,233,1,0,150,0,2.3,0,0,1)  # Here We Load The Feature We Want to Predict.

# We need to Change input Data To numpy Array To enable Us Do A Little Preprocessing
input_data_as_numpy_array= np.asarray(input_data)

# We need to Reshape, That Is Telling Our Machine Learning Model the number Of Data we want to Predict
input_data_reshaped =input_data_as_numpy_array.reshape (1, -1) # will reshape for one instance

prediction = model.predict(input_data_reshaped)
print(f"The Predicted Value Is : {prediction}")

if(prediction [0] == 0):
    print("The Patient does not Have Heart Disease")
else:
    print("The Patient Has Heart Disease")

The Predicted Value Is : [1]
The Patient Has Heart Disease

C:\Users\GODSPOWER UYANGA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

### Summary

Notice that we picked the features Test them on our model and it Predicted For Us.

The Predicted Value Is 1, Meaning That The Patient Has Heart Disease

### Godspower Uyanga(Data Scientist/ Machine Learning Engineer)